@using PhotoManager.Helpers.HtmlHelpers
@model PhotoManager.Model.ViewModels.PhotoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Update photo</h3>

<div class="container div-wide new-div">
    <div class="col-md-7">
        @Html.Image(Model.FilePath, Model.Name, new { @class = "img-thumbnail" })
    </div>
    <div class="col-md-5">
        @using (Html.BeginForm("UpdatePhoto", "Photo", FormMethod.Post, null))
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true, "", new { @class = "text-danger" });
            @Html.HiddenFor(m => m.PhotoId);
            @Html.HiddenFor(m => m.UpdateDateTime);
            @Html.HiddenFor(m => m.Name);
            @Html.HiddenFor(m => m.FilePath);
            @Html.HiddenFor(m => m.OriginalName);
            @Html.Partial("_FormPhoto",Model)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save all changes" class="btn btn-default" />
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @using (Html.BeginForm("RemovePhotos", "Photo", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("itemsToDelete", Model.PhotoId)
                    <input type="submit" value="Delete photo" class="btn btn-default" />
                }
            </div>
        </div>
    </div>
</div>